@model MyWebsite.ViewModels.ProfileFormViewModel

@{
    ViewBag.Title = "EditSoftwareskill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-left: 20px">

<h2>EditSoftwareskill</h2>

@using (Html.BeginForm("EditSoftwareskill", "Resumes"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.SoftwareSkill.Name)
        @Html.TextBoxFor(m => m.SoftwareSkill.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SoftwareSkill.Level)
        @Html.TextBoxFor(m => m.SoftwareSkill.Level, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.SoftwareSkill.Id)
    @Html.HiddenFor(m => m.ApplicationUserId)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">Save</button>

}
</div>