@model MyWebsite.ViewModels.ProfileFormViewModel
@{
    ViewBag.Title = "IndexDashboardHai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Dashboard</h2>

<div class="container row col-lg-12 profile-form-dev" style=" text-decoration-style: solid">



    @using (Html.BeginForm())
    {
        <div class="row text-form" style="column-count: 2">

            <div class="row col-lg-4 indexdashboard-leftside">

                <div class="form-group">
                    @Html.ActionLink("My Profile", "Index", "Profiles")
                </div>

                <div class="form-group">
                    @Html.ActionLink("Create Profile", "Create", "Profiles")
                </div>

                <div class="form-group">
                    @Html.ActionLink("Add Summary", "SummaryInsert", "Resumes")
                </div>


                <div class="form-group">
                    @Html.ActionLink("Add Education Info", "EducationInsert", "Resumes")
                </div>


                <div class="form-group">
                    @Html.ActionLink("Add Project", "Add", "Projects")
                </div>

                <div class="form-group">
                    @Html.ActionLink("Add Work Experience", "WorkExperienceInsert", "Resumes")
                </div>

                <div class="form-group">
                    @Html.ActionLink("Add Work Specialist", "WorkSpecialistInsert", "Resumes")
                </div>

            </div>



            <div class="row col-lg-4 indexdashboard-rightside">
                <div class="form-group">
                    @Html.ActionLink("Edit Work Specialist", "IndexWorkSpecialist", "Resumes")
                </div>


                <div class="form-group">
                    @Html.ActionLink("Add Personal Skills", "PersonalSkillsInsert", "Resumes")
                </div>

                <div class="form-group">
                    @Html.ActionLink("Add Software Skills", "SoftwareSkillsInsert", "Resumes")
                </div>
                <div class="form-group">
                    @Html.ActionLink("Add Developers Skills", "DevelopersSkillsInsert", "Resumes")
                </div>

                <div class="form-group">
                    @Html.ActionLink("Add Languges", "LanguageSkillsInsert", "Resumes")
                </div>

                <div class="form-group">
                    @Html.ActionLink("Add Social Links", "SocialLinkInsert", "Resumes")
                </div>

                <div class="form-group">
                    @Html.ActionLink("Edit Social Links", "SocialLinkIndex", "Resumes")
                </div>
            </div>

            @Html.HiddenFor(m => m.ApplicationUserId)

        </div>
    }

</div>