@model MyWebsite.ViewModels.ProfileFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Create</h2>

<div class="container col-lg-12 profile-form-dev">

    @using (Html.BeginForm("Create", "Profiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row text-form" style="column-count: 2">

            <div class="row col-lg-4">

                <div class="form-group">
                    @Html.LabelFor(m => m.FullName)
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.FullName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Birthday)
                    @Html.TextBoxFor(m => m.Birthday, "{0:d MMM yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Birthday)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Phone)
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Phone)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Address)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Website)
                    @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Website)
                </div>


            </div>

            <div class="photo-dev col-lg-6">
                <img id="uploadPreview" class="img-fluid" />
                <input type="file" name="file" id="uploadImage" onchange="PreviewImage()" /><br><br>
                <br><br>
            </div>

        </div>

        @Html.HiddenFor(m => m.ApplicationUser.Id)
        @Html.AntiForgeryToken()
        <input type="submit" value="Save" class="btn btn-danger" />
    }


    @*Enable Client side validation ... we should put it here .. To ensuser that JQueryval bundels come after JQuery definition *@

    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }



</div>
